<div id="awful_bar">
	<header>
		<div id="branding">
			<a href="/"><h1>Awful Labs</h1></a>
		</div>
		<div id="tagline">
			<b>aw &middot; ful</b> <i>(adjective)</i> solemnly impressive; inspiring awe; full of awe;
		</div>
	<div class="clear"></div>
	</header>
</div>