<div id="wrapper">
	<div id="content">
		<div class="col">
			<a href="/projects/lens" class="project-url">
				<div class="project">
					<div class="icon">
						<!--<img src="img/sphere.png" alt="" />-->
					</div>
					
					<h3>Camera Lens</h3>
				</div>
			</a>
		</div>
		<div class="col">
			<a href="/projects/css3d" class="project-url">
				<div class="project">
					<div class="icon">
						<!--<img src="img/sphere.png" alt="" />-->
					</div>
					
					<h3>CSS3D</h3>
				</div>
			</a>
		</div>
		<div class="col">
			<div class="empty-project">
				<h5>Coming Soon...</h5>
			</div>
		</div>
		<div class="col">
			<div class="empty-project">
				<h5>Coming Soon...</h5>
			</div>
		</div>
	<div class="clear"></div>
	</div>
</div><!-- end #wrapper -->