<div id="wrapper">
	<div id="content">
		<div class="col">
			<div class="icon">
				<a href=""><img src="img/sphere.png" alt="" /></a>
			</div>
			<h3 class="title">CSS3D</h3>
		</div>
		<div class="col">
			<div class="next-icon">
				<div class="countdown">Coming June 27th, 2011</div>
			</div>
			<h3 class="title">Floating Cube</h3>
		</div>
		<div class="col">
			<div class="on-deck-icon">
				<div class="countdown">Coming July 4th, 2011</div>
			</div>
			<h3 class="title">Buttonizer</h3>
		</div>
		<div class="col">
			<div class="last-icon">
				<a href="">View Other Experiments</a>
			</div>
		</div>
	<div class="clear"></div>
	</div>
</div><!-- end #wrapper -->