<!-- The CSS -->
<link rel="stylesheet" type="text/css" media="all" href="/css/project_css3d.css" />

<!-- The JavaScript 
<script src="/js/" type="text/javascript"></script>
-->

<!-- The HTML -->
<div id="plane"></div>

<div id="container">
	<div class="material">
	<!--<div id="sphere" class="grey stone">-->
		<div id="sphere" class="red suede">
			<div id="noise-layer"></div>
			<div id="texture-layer"></div>
			<div id="reflection-layer"></div>
		</div>
		<div id="shadow">
			<img src="img/shadow/big.png" alt="" id="main-shadow" />
		</div>
	</div>
	<div id="info">
		<h3>Suede</h3>
	</div>
	<div id="controls">
		<a href="">&laquo; Previous Material</a><a href="">Next Material &raquo;</a>
	</div>
</div>