/* Awful Project */
body {
	background-color:#555;
}

#awful_project {
	width:500px;
	margin:0 auto;
	padding-top:50px;
}

#lens {
	width:500px;
	height:500px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-250px;
	margin-top:-250px;
	-webkit-border-radius: 250px;
	   -moz-border-radius: 250px;
			border-radius: 250px;
	background:#777;
}

#center {
	height:82px;
	width:82px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-41px;
	margin-top:-41px;
	-webkit-border-radius: 41px;
	   -moz-border-radius: 41px;
			border-radius: 41px;
	-webkit-box-shadow: 0 0 4px 0 rgba(255,255,255,0.25),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 10px 2px rgba(0,0,0,0.7), 
						inset 0 0 45px 15px rgba(0,0,0,0.9);
	   -moz-box-shadow: 0 0 4px 0 rgba(255,255,255,0.25),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 10px 2px rgba(0,0,0,0.7), 
						inset 0 0 45px 15px rgba(0,0,0,0.9);
			box-shadow: 0 0 4px 0 rgba(255,255,255,0.25),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 10px 2px rgba(0,0,0,0.7), 
						inset 0 0 45px 15px rgba(0,0,0,0.9);
	background:#444;
	
}

#inner-ring {
	height:114px;
	width:114px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-57px;
	margin-top:-57px;
	-webkit-border-radius: 57px;
	   -moz-border-radius: 57px;
			border-radius: 57px;
	-webkit-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 14px 0 rgba(0,0,0,0.7);
	   -moz-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 14px 0 rgba(0,0,0,0.7);
			box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 14px 0 rgba(0,0,0,0.7);
	background:rgba(0,0,0,0.08);
}

#ring1 {
	height:160px;
	width:160px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-80px;
	margin-top:-80px;
	-webkit-border-radius: 80px;
	   -moz-border-radius: 80px;
			border-radius: 80px;
	-webkit-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 26px 0 rgba(0,0,0,0.7);
	   -moz-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 26px 0 rgba(0,0,0,0.7);
			box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 26px 0 rgba(0,0,0,0.7);
	background:rgba(0,0,0,0.08);
}

#ring2 {
	height:180px;
	width:180px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-90px;
	margin-top:-90px;
	-webkit-border-radius: 90px;
	   -moz-border-radius: 90px;
			border-radius: 90px;
	-webkit-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 14px 0 rgba(0,0,0,0.7);
	   -moz-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 14px 0 rgba(0,0,0,0.7);
			box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 14px 0 rgba(0,0,0,0.7);
	background:rgba(0,0,0,0.08);
}

#ring3 {
	height:200px;
	width:200px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-100px;
	margin-top:-100px;
	-webkit-border-radius: 100px;
	   -moz-border-radius: 100px;
			border-radius: 100px;
	-webkit-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 14px 0 rgba(0,0,0,0.7);
	   -moz-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 14px 0 rgba(0,0,0,0.7);
			box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 14px 0 rgba(0,0,0,0.7);
	background:rgba(0,0,0,0.08);
}

#ring4 {
	height:220px;
	width:220px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-110px;
	margin-top:-110px;
	-webkit-border-radius: 110px;
	   -moz-border-radius: 110px;
			border-radius: 110px;
	-webkit-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 14px 0 rgba(0,0,0,0.7);
	   -moz-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 14px 0 rgba(0,0,0,0.7);
			box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 14px 0 rgba(0,0,0,0.7);
	background:rgba(0,0,0,0.08);
}

#ring5 {
	height:246px;
	width:246px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-123px;
	margin-top:-123px;
	-webkit-border-radius: 123px;
	   -moz-border-radius: 123px;
			border-radius: 123px;
	-webkit-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 18px 0 rgba(0,0,0,0.7);
	   -moz-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 18px 0 rgba(0,0,0,0.7);
			box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 18px 0 rgba(0,0,0,0.7);
	background:rgba(0,0,0,0.08);
}

#ring6 {
	height:274px;
	width:274px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-137px;
	margin-top:-137px;
	-webkit-border-radius: 137px;
	   -moz-border-radius: 137px;
			border-radius: 137px;
	-webkit-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 18px 0 rgba(0,0,0,0.7);
	   -moz-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 18px 0 rgba(0,0,0,0.7);
			box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 18px 0 rgba(0,0,0,0.7);
	background:rgba(0,0,0,0.08);
}

#ring7 {
	height:304px;
	width:304px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-152px;
	margin-top:-152px;
	-webkit-border-radius: 152px;
	   -moz-border-radius: 152px;
			border-radius: 152px;
	-webkit-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 18px 0 rgba(0,0,0,0.7);
	   -moz-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 18px 0 rgba(0,0,0,0.7);
			box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 18px 0 rgba(0,0,0,0.7);
	background:rgba(0,0,0,0.08);
}

/* COLOR FILTER SECTION */
#color-filter {
	height:370px;
	width:370px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-185px;
	margin-top:-185px;
	background:rgba(0,0,0,0.2);
	-webkit-border-radius: 185px;
	   -moz-border-radius: 185px;
			border-radius: 185px;
	-webkit-box-shadow: 
				inset 75px 75px 200px 0 rgba(102,0,102,0.5), 
				inset -75px -75px 200px 0 rgba(0,102,102,0.5);
	   -moz-box-shadow: 
	   			inset 75px 75px 200px 0 rgba(102,0,102,0.5), 
				inset -75px -75px 200px 0 rgba(0,102,102,0.5);
			box-shadow: 
				inset 75px 75px 200px 0 rgba(102,0,102,0.5), 
				inset -75px -75px 200px 0 rgba(0,102,102,0.5);
}

#color-filter-shadow {
	height:370px;
	width:370px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-185px;
	margin-top:-185px;
	-webkit-border-radius: 185px;
	   -moz-border-radius: 185px;
			border-radius: 185px;
	-webkit-box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.5);
	   -moz-box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.5);
			box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.5);
}

/*.ua-firefox #color-filter-glare-wrap {
	height:370px;
	width:370px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-185px;
	margin-top:-185px;
	background:rgba(0,0,0,0.2);
	-webkit-border-radius: 185px;
	   -moz-border-radius: 185px;
			border-radius: 185px;
	overflow:hidden;
}

.ua-firefox #color-filter-glare {
	height:470px;
	width:470px;
	position:absolute;
	left:-20px;
	top:-210px;
	background:rgba(255,255,255,0.05);
	-webkit-border-radius: 235px;
	   -moz-border-radius: 235px;
			border-radius: 235px;
}*/

/* END COLOR FILTER SECTION */

#ring8 {
	height:370px;
	width:370px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-185px;
	margin-top:-185px;
	-webkit-border-radius: 185px;
	   -moz-border-radius: 185px;
			border-radius: 185px;
	-webkit-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 35px 5px rgba(0,0,0,0.7);
	   -moz-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 35px 5px rgba(0,0,0,0.7);
			box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.9),
						inset 0 0 35px 5px rgba(0,0,0,0.7);
}

#ring9 {
	height:400px;
	width:400px;
	background:rgba(0,0,0,0.25);
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-200px;
	margin-top:-200px;
	-webkit-border-radius: 200px;
	   -moz-border-radius: 200px;
			border-radius: 200px;
	-webkit-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.7),
						inset 0 0 18px 0 rgba(0,0,0,0.5);
	   -moz-box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.7),
						inset 0 0 18px 0 rgba(0,0,0,0.5);
			box-shadow: 0 0 4px 0 rgba(255,255,255,0.15),
						inset 0 0 4px 0 rgba(0,0,0,0.7),
						inset 0 0 18px 0 rgba(0,0,0,0.5);
	
}

#ring10 {
	height:430px;
	width:430px;
	background:rgba(0,0,0,0.25);
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-215px;
	margin-top:-215px;
	-webkit-border-radius: 215px;
	   -moz-border-radius: 215px;
			border-radius: 215px;
	-webkit-box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.7),
						inset 0 0 18px 0 rgba(0,0,0,0.5);
	   -moz-box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.7),
						inset 0 0 18px 0 rgba(0,0,0,0.5);
			box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.7),
						inset 0 0 18px 0 rgba(0,0,0,0.5);
}

#bezel {
	height:500px;
	width:500px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-250px;
	margin-top:-250px;
	-webkit-border-radius: 250px;
	   -moz-border-radius: 250px;
			border-radius: 250px;
	border:35px solid #BBB;
	-webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.9), 
						0 0 150px 0 rgba(255,255,255,0.15), 
						0 0 10px 0 rgba(0,0,0,0.75);
	   -moz-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.9), 
	   					0 0 150px 0 rgba(255,255,255,0.15), 
	   					0 0 10px 0 rgba(0,0,0,0.75);
			box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.9), 
						0 0 150px 0 rgba(255,255,255,0.15), 
						0 0 10px 0 rgba(0,0,0,0.75);
						/*
	background-image: -webkit-radial-gradient( 50% 0%, 8% 50%, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient( 50% 100%, 12% 50%, rgba(255, 255, 255, .6) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient( 0% 50%, 50% 7%, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient( 100% 50%, 50% 5%, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-repeating-radial-gradient(	50% 50%, 100% 100%, transparent 0%, transparent 3%, rgba(0, 0, 0, .1) 3.5%), -webkit-repeating-radial-gradient(	50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, .1) 7.5%), -webkit-repeating-radial-gradient(	50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, .2) 2.2%), -webkit-radial-gradient(	50% 50%, 200% 50%, rgba(230, 230, 230, 1) 5%, rgba(217, 217, 217, 1) 30%, rgba(153, 153, 153, 1) 100%);
	
	background: -moz-linear-gradient(top, rgba(130,149,153,0.5) 0%, rgba(195,229,226,0.5) 5%, rgba(130,149,153,0.5) 10%, rgba(195,229,226,0.5) 15%, rgba(130,149,153,0.5) 20%, rgba(195,229,226,0.5) 25%, rgba(130,149,153,0.5) 30%, rgba(195,229,226,0.5) 35%, rgba(130,149,153,0.5) 40%, rgba(195,229,226,0.5) 45%, rgba(130,149,153,0.5) 50%, rgba(195,229,226,0.5) 55%, rgba(130,149,153,0.5) 60%, rgba(195,229,226,0.5) 65%, rgba(130,149,153,0.5) 70%, rgba(195,229,226,0.5) 75%, rgba(130,149,153,0.5) 80%, rgba(195,229,226,0.5) 85%, rgba(130,149,153,0.5) 90%, rgba(195,229,226,0.5) 95%, rgba(130,149,153,0.5) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(130,149,153,0.5)), color-stop(5%,rgba(195,229,226,0.5)), color-stop(10%,rgba(130,149,153,0.5)), color-stop(15%,rgba(195,229,226,0.5)), color-stop(20%,rgba(130,149,153,0.5)), color-stop(25%,rgba(195,229,226,0.5)), color-stop(30%,rgba(130,149,153,0.5)), color-stop(35%,rgba(195,229,226,0.5)), color-stop(40%,rgba(130,149,153,0.5)), color-stop(45%,rgba(195,229,226,0.5)), color-stop(50%,rgba(130,149,153,0.5)), color-stop(55%,rgba(195,229,226,0.5)), color-stop(60%,rgba(130,149,153,0.5)), color-stop(65%,rgba(195,229,226,0.5)), color-stop(70%,rgba(130,149,153,0.5)), color-stop(75%,rgba(195,229,226,0.5)), color-stop(80%,rgba(130,149,153,0.5)), color-stop(85%,rgba(195,229,226,0.5)), color-stop(90%,rgba(130,149,153,0.5)), color-stop(95%,rgba(195,229,226,0.5)), color-stop(100%,rgba(130,149,153,0.5)));
	background: -webkit-linear-gradient(top, rgba(130,149,153,0.5) 0%,rgba(195,229,226,0.5) 5%,rgba(130,149,153,0.5) 10%,rgba(195,229,226,0.5) 15%,rgba(130,149,153,0.5) 20%,rgba(195,229,226,0.5) 25%,rgba(130,149,153,0.5) 30%,rgba(195,229,226,0.5) 35%,rgba(130,149,153,0.5) 40%,rgba(195,229,226,0.5) 45%,rgba(130,149,153,0.5) 50%,rgba(195,229,226,0.5) 55%,rgba(130,149,153,0.5) 60%,rgba(195,229,226,0.5) 65%,rgba(130,149,153,0.5) 70%,rgba(195,229,226,0.5) 75%,rgba(130,149,153,0.5) 80%,rgba(195,229,226,0.5) 85%,rgba(130,149,153,0.5) 90%,rgba(195,229,226,0.5) 95%,rgba(130,149,153,0.5) 100%);
	background: -o-linear-gradient(top, rgba(130,149,153,0.5) 0%,rgba(195,229,226,0.5) 5%,rgba(130,149,153,0.5) 10%,rgba(195,229,226,0.5) 15%,rgba(130,149,153,0.5) 20%,rgba(195,229,226,0.5) 25%,rgba(130,149,153,0.5) 30%,rgba(195,229,226,0.5) 35%,rgba(130,149,153,0.5) 40%,rgba(195,229,226,0.5) 45%,rgba(130,149,153,0.5) 50%,rgba(195,229,226,0.5) 55%,rgba(130,149,153,0.5) 60%,rgba(195,229,226,0.5) 65%,rgba(130,149,153,0.5) 70%,rgba(195,229,226,0.5) 75%,rgba(130,149,153,0.5) 80%,rgba(195,229,226,0.5) 85%,rgba(130,149,153,0.5) 90%,rgba(195,229,226,0.5) 95%,rgba(130,149,153,0.5) 100%);
	background: -ms-linear-gradient(top, rgba(130,149,153,0.5) 0%,rgba(195,229,226,0.5) 5%,rgba(130,149,153,0.5) 10%,rgba(195,229,226,0.5) 15%,rgba(130,149,153,0.5) 20%,rgba(195,229,226,0.5) 25%,rgba(130,149,153,0.5) 30%,rgba(195,229,226,0.5) 35%,rgba(130,149,153,0.5) 40%,rgba(195,229,226,0.5) 45%,rgba(130,149,153,0.5) 50%,rgba(195,229,226,0.5) 55%,rgba(130,149,153,0.5) 60%,rgba(195,229,226,0.5) 65%,rgba(130,149,153,0.5) 70%,rgba(195,229,226,0.5) 75%,rgba(130,149,153,0.5) 80%,rgba(195,229,226,0.5) 85%,rgba(130,149,153,0.5) 90%,rgba(195,229,226,0.5) 95%,rgba(130,149,153,0.5) 100%);
	background: linear-gradient(top, rgba(130,149,153,0.5) 0%,rgba(195,229,226,0.5) 5%,rgba(130,149,153,0.5) 10%,rgba(195,229,226,0.5) 15%,rgba(130,149,153,0.5) 20%,rgba(195,229,226,0.5) 25%,rgba(130,149,153,0.5) 30%,rgba(195,229,226,0.5) 35%,rgba(130,149,153,0.5) 40%,rgba(195,229,226,0.5) 45%,rgba(130,149,153,0.5) 50%,rgba(195,229,226,0.5) 55%,rgba(130,149,153,0.5) 60%,rgba(195,229,226,0.5) 65%,rgba(130,149,153,0.5) 70%,rgba(195,229,226,0.5) 75%,rgba(130,149,153,0.5) 80%,rgba(195,229,226,0.5) 85%,rgba(130,149,153,0.5) 90%,rgba(195,229,226,0.5) 95%,rgba(130,149,153,0.5) 100%);
	*/
}

#bezel-texture {
	height:500px;
	width:500px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-250px;
	margin-top:-250px;
	-webkit-border-radius: 250px;
	   -moz-border-radius: 250px;
			border-radius: 250px;
	/*background-image: -webkit-radial-gradient( 50% 0%, 8% 50%, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0) 100%), 
					  -webkit-radial-gradient( 50% 100%, 12% 50%, rgba(255, 255, 255, .6) 0%, rgba(255, 255, 255, 0) 100%), 
					  -webkit-radial-gradient( 0% 50%, 50% 7%, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0) 100%), 
					  -webkit-radial-gradient( 100% 50%, 50% 5%, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0) 100%), 
					  -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, transparent 0%, transparent 3%, rgba(0, 0, 0, .1) 3.5%), 
					  -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, .1) 7.5%), 
					  -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, .2) 2.2%), 
					  -webkit-radial-gradient( 50% 50%, 200% 50%, rgba(230, 230, 230, 1) 5%, rgba(217, 217, 217, 1) 30%, rgba(153, 153, 153, 1) 100%);*/

	background: rgb(255,255,255);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(204,204,204,0.25) 61%,rgba(255,255,255,0.25) 62%,rgba(255,255,255,0.25) 62%,rgba(204,204,204,0.25) 63%,rgba(255,255,255,0.25) 64%,rgba(204,204,204,0.25) 65%,rgba(255,255,255,0.25) 66%,rgba(204,204,204,0.25) 67%,rgba(255,255,255,0.25) 68%,rgba(204,204,204,0.25) 69%,rgba(255,255,255,0.25) 70%,rgba(204,204,204,0.25) 71%,rgba(255,255,255,0.25) 72%,rgba(204,204,204,0.25) 73%,rgba(255,255,255,0.25) 74%,rgba(204,204,204,0.25) 75%,rgba(255,255,255,0.25) 76%,rgba(204,204,204,0.25) 77%,rgba(255,255,255,0.25) 78%,rgba(204,204,204,0.25) 79%,rgba(255,255,255,0.25) 80%,rgba(204,204,204,0.25) 81%,rgba(204,204,204,0.25) 81%,rgba(255,255,255,0.25) 82%,rgba(204,204,204,0.25) 83%,rgba(204,204,204,0.25) 83%,rgba(255,255,255,0.25) 84%,rgba(204,204,204,0.25) 85%,rgba(255,255,255,0.25) 86%,rgba(255,255,255,0.25) 86%,rgba(204,204,204,0.25) 87%,rgba(255,255,255,0.25) 88%,rgba(204,204,204,0.25) 89%,rgba(255,255,255,0.25) 90%,rgba(204,204,204,0.25) 91%,rgba(255,255,255,0.25) 92%,rgba(204,204,204,0.25) 93%,rgba(255,255,255,0.25) 94%,rgba(204,204,204,0.25) 95%,rgba(255,255,255,0.25) 96%,rgba(204,204,204,0.25) 97%,rgba(255,255,255,0.25) 98%,rgba(204,204,204,0.25) 99%,rgba(255,255,255,0.25) 100%,rgba(244,244,244,0.25) 100%);
	/*
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0)), color-stop(60%,rgba(255,255,255,1)), color-stop(61%,rgba(204,204,204,1)), color-stop(62%,rgba(255,255,255,1)), color-stop(62%,rgba(255,255,255,1)), color-stop(63%,rgba(204,204,204,0)), color-stop(64%,rgba(255,255,255,1)), color-stop(65%,rgba(204,204,204,1)), color-stop(66%,rgba(255,255,255,1)), color-stop(67%,rgba(204,204,204,1)), color-stop(68%,rgba(255,255,255,1)), color-stop(69%,rgba(204,204,204,1)), color-stop(70%,rgba(255,255,255,1)), color-stop(71%,rgba(204,204,204,1)), color-stop(72%,rgba(255,255,255,1)), color-stop(73%,rgba(204,204,204,1)), color-stop(74%,rgba(255,255,255,1)), color-stop(75%,rgba(204,204,204,1)), color-stop(76%,rgba(255,255,255,1)), color-stop(77%,rgba(204,204,204,1)), color-stop(78%,rgba(255,255,255,1)), color-stop(79%,rgba(204,204,204,1)), color-stop(80%,rgba(255,255,255,1)), color-stop(81%,rgba(204,204,204,1)), color-stop(81%,rgba(204,204,204,1)), color-stop(82%,rgba(255,255,255,1)), color-stop(83%,rgba(204,204,204,1)), color-stop(83%,rgba(204,204,204,1)), color-stop(84%,rgba(255,255,255,1)), color-stop(85%,rgba(204,204,204,1)), color-stop(86%,rgba(255,255,255,1)), color-stop(86%,rgba(255,255,255,1)), color-stop(87%,rgba(204,204,204,1)), color-stop(88%,rgba(255,255,255,1)), color-stop(89%,rgba(204,204,204,1)), color-stop(90%,rgba(255,255,255,1)), color-stop(91%,rgba(204,204,204,1)), color-stop(92%,rgba(255,255,255,1)), color-stop(93%,rgba(204,204,204,1)), color-stop(94%,rgba(255,255,255,1)), color-stop(95%,rgba(204,204,204,1)), color-stop(96%,rgba(255,255,255,1)), color-stop(97%,rgba(204,204,204,1)), color-stop(98%,rgba(255,255,255,1)), color-stop(99%,rgba(204,204,204,1)), color-stop(100%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1)));
	*/
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(204,204,204,0.25) 61%,rgba(255,255,255,0.25) 62%,rgba(255,255,255,0.25) 62%,rgba(204,204,204,0.25) 63%,rgba(255,255,255,0.25) 64%,rgba(204,204,204,0.25) 65%,rgba(255,255,255,0.25) 66%,rgba(204,204,204,0.25) 67%,rgba(255,255,255,0.25) 68%,rgba(204,204,204,0.25) 69%,rgba(255,255,255,0.25) 70%,rgba(204,204,204,0.25) 71%,rgba(255,255,255,0.25) 72%,rgba(204,204,204,0.25) 73%,rgba(255,255,255,0.25) 74%,rgba(204,204,204,0.25) 75%,rgba(255,255,255,0.25) 76%,rgba(204,204,204,0.25) 77%,rgba(255,255,255,0.25) 78%,rgba(204,204,204,0.25) 79%,rgba(255,255,255,0.25) 80%,rgba(204,204,204,0.25) 81%,rgba(204,204,204,0.25) 81%,rgba(255,255,255,0.25) 82%,rgba(204,204,204,0.25) 83%,rgba(204,204,204,0.25) 83%,rgba(255,255,255,0.25) 84%,rgba(204,204,204,0.25) 85%,rgba(255,255,255,0.25) 86%,rgba(255,255,255,0.25) 86%,rgba(204,204,204,0.25) 87%,rgba(255,255,255,0.25) 88%,rgba(204,204,204,0.25) 89%,rgba(255,255,255,0.25) 90%,rgba(204,204,204,0.25) 91%,rgba(255,255,255,0.25) 92%,rgba(204,204,204,0.25) 93%,rgba(255,255,255,0.25) 94%,rgba(204,204,204,0.25) 95%,rgba(255,255,255,0.25) 96%,rgba(204,204,204,0.25) 97%,rgba(255,255,255,0.25) 98%,rgba(204,204,204,0.25) 99%,rgba(255,255,255,0.25) 100%,rgba(244,244,244,0.25) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(204,204,204,0.25) 61%,rgba(255,255,255,0.25) 62%,rgba(255,255,255,0.25) 62%,rgba(204,204,204,0.25) 63%,rgba(255,255,255,0.25) 64%,rgba(204,204,204,0.25) 65%,rgba(255,255,255,0.25) 66%,rgba(204,204,204,0.25) 67%,rgba(255,255,255,0.25) 68%,rgba(204,204,204,0.25) 69%,rgba(255,255,255,0.25) 70%,rgba(204,204,204,0.25) 71%,rgba(255,255,255,0.25) 72%,rgba(204,204,204,0.25) 73%,rgba(255,255,255,0.25) 74%,rgba(204,204,204,0.25) 75%,rgba(255,255,255,0.25) 76%,rgba(204,204,204,0.25) 77%,rgba(255,255,255,0.25) 78%,rgba(204,204,204,0.25) 79%,rgba(255,255,255,0.25) 80%,rgba(204,204,204,0.25) 81%,rgba(204,204,204,0.25) 81%,rgba(255,255,255,0.25) 82%,rgba(204,204,204,0.25) 83%,rgba(204,204,204,0.25) 83%,rgba(255,255,255,0.25) 84%,rgba(204,204,204,0.25) 85%,rgba(255,255,255,0.25) 86%,rgba(255,255,255,0.25) 86%,rgba(204,204,204,0.25) 87%,rgba(255,255,255,0.25) 88%,rgba(204,204,204,0.25) 89%,rgba(255,255,255,0.25) 90%,rgba(204,204,204,0.25) 91%,rgba(255,255,255,0.25) 92%,rgba(204,204,204,0.25) 93%,rgba(255,255,255,0.25) 94%,rgba(204,204,204,0.25) 95%,rgba(255,255,255,0.25) 96%,rgba(204,204,204,0.25) 97%,rgba(255,255,255,0.25) 98%,rgba(204,204,204,0.25) 99%,rgba(255,255,255,0.25) 100%,rgba(244,244,244,0.25) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(204,204,204,0.25) 61%,rgba(255,255,255,0.25) 62%,rgba(255,255,255,0.25) 62%,rgba(204,204,204,0.25) 63%,rgba(255,255,255,0.25) 64%,rgba(204,204,204,0.25) 65%,rgba(255,255,255,0.25) 66%,rgba(204,204,204,0.25) 67%,rgba(255,255,255,0.25) 68%,rgba(204,204,204,0.25) 69%,rgba(255,255,255,0.25) 70%,rgba(204,204,204,0.25) 71%,rgba(255,255,255,0.25) 72%,rgba(204,204,204,0.25) 73%,rgba(255,255,255,0.25) 74%,rgba(204,204,204,0.25) 75%,rgba(255,255,255,0.25) 76%,rgba(204,204,204,0.25) 77%,rgba(255,255,255,0.25) 78%,rgba(204,204,204,0.25) 79%,rgba(255,255,255,0.25) 80%,rgba(204,204,204,0.25) 81%,rgba(204,204,204,0.25) 81%,rgba(255,255,255,0.25) 82%,rgba(204,204,204,0.25) 83%,rgba(204,204,204,0.25) 83%,rgba(255,255,255,0.25) 84%,rgba(204,204,204,0.25) 85%,rgba(255,255,255,0.25) 86%,rgba(255,255,255,0.25) 86%,rgba(204,204,204,0.25) 87%,rgba(255,255,255,0.25) 88%,rgba(204,204,204,0.25) 89%,rgba(255,255,255,0.25) 90%,rgba(204,204,204,0.25) 91%,rgba(255,255,255,0.25) 92%,rgba(204,204,204,0.25) 93%,rgba(255,255,255,0.25) 94%,rgba(204,204,204,0.25) 95%,rgba(255,255,255,0.25) 96%,rgba(204,204,204,0.25) 97%,rgba(255,255,255,0.25) 98%,rgba(204,204,204,0.25) 99%,rgba(255,255,255,0.25) 100%,rgba(244,244,244,0.25) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(204,204,204,0.25) 61%,rgba(255,255,255,0.25) 62%,rgba(255,255,255,0.25) 62%,rgba(204,204,204,0.25) 63%,rgba(255,255,255,0.25) 64%,rgba(204,204,204,0.25) 65%,rgba(255,255,255,0.25) 66%,rgba(204,204,204,0.25) 67%,rgba(255,255,255,0.25) 68%,rgba(204,204,204,0.25) 69%,rgba(255,255,255,0.25) 70%,rgba(204,204,204,0.25) 71%,rgba(255,255,255,0.25) 72%,rgba(204,204,204,0.25) 73%,rgba(255,255,255,0.25) 74%,rgba(204,204,204,0.25) 75%,rgba(255,255,255,0.25) 76%,rgba(204,204,204,0.25) 77%,rgba(255,255,255,0.25) 78%,rgba(204,204,204,0.25) 79%,rgba(255,255,255,0.25) 80%,rgba(204,204,204,0.25) 81%,rgba(204,204,204,0.25) 81%,rgba(255,255,255,0.25) 82%,rgba(204,204,204,0.25) 83%,rgba(204,204,204,0.25) 83%,rgba(255,255,255,0.25) 84%,rgba(204,204,204,0.25) 85%,rgba(255,255,255,0.25) 86%,rgba(255,255,255,0.25) 86%,rgba(204,204,204,0.25) 87%,rgba(255,255,255,0.25) 88%,rgba(204,204,204,0.25) 89%,rgba(255,255,255,0.25) 90%,rgba(204,204,204,0.25) 91%,rgba(255,255,255,0.25) 92%,rgba(204,204,204,0.25) 93%,rgba(255,255,255,0.25) 94%,rgba(204,204,204,0.25) 95%,rgba(255,255,255,0.25) 96%,rgba(204,204,204,0.25) 97%,rgba(255,255,255,0.25) 98%,rgba(204,204,204,0.25) 99%,rgba(255,255,255,0.25) 100%,rgba(244,244,244,0.25) 100%);
	-webkit-box-shadow: inset -3px -3px 0 0 rgba(0,0,0,0.35),
						inset 3px 3px 0 0 rgba(255,255,255,0.65);
	   -moz-box-shadow: inset -3px -3px 0 0 rgba(0,0,0,0.35),
						inset 3px 3px 0 0 rgba(255,255,255,0.65);
			box-shadow: inset -3px -3px 0 0 rgba(0,0,0,0.35),
						inset 3px 3px 0 0 rgba(255,255,255,0.65);
}























