/* CSS Reset */
html, body, ul, ol, li, form, fieldset, legend {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

/* Global Styles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html { 
	font-size: 62.5%;
} 

body {
	font-size: 14px; 
	font-size: 1.4rem;
	color:#333;
	background:#F4F4F4 url(../img/bg.png) 0 0 repeat;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 { 
	font-size: 24px; 
	font-size: 2.4rem; 
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

.clearfix {
  display: block;
}

/* Awful Bar */
#awful_bar {
	padding:10px;
	background:#EEE;
	background: -moz-linear-gradient(top,  #F5F5F5 0%, #E9E9E9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#E9E9E9));
	background: -webkit-linear-gradient(top,  #F5F5F5 0%,#E9E9E9 100%);
	background: -o-linear-gradient(top,  #F5F5F5 0%,#E9E9E9 100%);
	background: -ms-linear-gradient(top,  #F5F5F5 0%,#E9E9E9 100%);
	background: linear-gradient(to bottom,  #F5F5F5 0%,#E9E9E9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F5F5', endColorstr='#E9E9E9',GradientType=0 );
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 0 rgba(255, 255, 255, 0.35);
			box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 0 rgba(255, 255, 255, 0.35);
}

#awful_nav {
	width:800px;
	margin:0 auto;
}

#title {
	float:left;
	font-size:18px;
	font-size:1.8rem;
	line-height:30px;
}

#title a {
	color:#333;
	text-decoration:none;
}

#title a:hover {

}

#subtitle {
	float:right;
	line-height:30px;
}

/* Awful Project */
#awful_project {

}